extends ../../_layouts/master

append header-meta
  base(href='/')
  
append header-title
  | Angular Examples : ngApp

append header-stylesheets
  link(href='#{locals.baseUrl?baseUrl:""}/statics/bower_components/prism/themes/prism.css', rel='stylesheet', id='css-prism')

append body-title
  +body-title('ng-app', 'Use this directive to auto-bootstrap an AngularJS application. The ngApp directive designates the root element of the application and is typically placed near the root element of the page.')

append body-content
  .row
    .col-md-12
      a(href='#{locals.baseUrl?baseUrl:""}/examples/snippets/ng-app.html?noc=#{cacheKey}', target='_self') Live demo
    .col-md-12
      pre#html(data-src='#{locals.baseUrl?baseUrl:""}/examples/snippets/ng-app.html?noc=#{cacheKey}').language-markup
append body-scripts
  script(src='#{locals.baseUrl?baseUrl:""}/statics/bower_components/prism/prism.js')