extends ../../_layouts/master

append header-meta
  base(href='/')
  
append header-title
  | Angular Examples : Templates

append header-stylesheets
  link(href='#{locals.baseUrl?baseUrl:""}/statics/bower_components/prism/themes/prism.css', rel='stylesheet', id='css-prism')

append body-title
  +body-title('ng-template', 'Templates are reusable html snippets that may contain angular markup, filters, and directives')

append body-content
  .row
    .col-md-12
      a(href='#{locals.baseUrl?baseUrl:""}/examples/snippets/ng-template.html?noc=#{cacheKey}', target='_self') Live demo
    .col-md-12
      pre#html(data-src='#{locals.baseUrl?baseUrl:""}/examples/snippets/ng-template.html?noc=#{cacheKey}').language-markup
append body-scripts
  script(src='#{locals.baseUrl?baseUrl:""}/statics/bower_components/prism/prism.js')